<form action="/users/create" method="post">
    <input name="name" placeholder="enter your name" type="text">
    <input name="track" placeholder="enter your track" type="text">
    <button type="submit"> ADD </button>
</form>