<form action="/users/edit/{{index}}" method="post">
    <input name="name" value="{{user.name}}" type="text">
    <input name="track" value="{{user.track}}" type="text">
   
    <button type="submit"> edit </button>
</form>